<div id="<%= dom_id farm %>">
<div>
<p>
<strong>Name:</strong>
<%= farm.name %>
<strong>Granjeros</strong>
<% farm.farmers.each do |farmer| %>
<span><%= farmer.name %> </span>
<% end %>
</p>
</div>
</div>
